<div style="width: 50%; margin-top: 15%;margin-left: 25%;">
    <center><%= @fullname.sub(/^(\w)/) {|s| s.capitalize} %></center>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <td>Number</td>
                <td>Location</td>
                <td>Date</td>
            </tr>
        </thead>
        <body>
            <%
            number = 1
            @list_location.each do |data| 
            %>
                <tr>
                    <td><%= number %></td>
                    <td><%= data['name'] %></td>
                    <td><%= data['dates'] %> <%= data['times'] %></td>
                </tr>
            <%
            number+= 1
            end
            %>
        </body>
    </table>
</div>
